body{
	height:auto;
	width:100%;
	//background-image: url("../Resources/baja_car4.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}
h5{
	text-decoration: underline;
	text-align: center;
	color:white;
	font-size:2.3em;
}
hr{
	border-color: #3399ff;
	color:#99CCFF;
	width:90%;
}
ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside;
}
#contacts > hr {
	border-color:#333333;
	color:black;
	width:60%;
}
a{
	color:#FFBB4D;
}
#title{
	padding-top: 30px;
	min-height: 100px;
	font-family: montserrat;
	color:white;
	text-align: center;
	font-size: 3em;
}

#contact_info{
	width:100%;
	overflow:auto;
	min-height: 420px;
	background-color: #3399ff;
}
.contact{
	font-size: 2em;
	text-align: left;
	font-family: "open sans";
	height:auto;
	margin:0 auto;
	width:90%;
}
#contact_list{
	background-color: #3399ff;
	margin:0 auto;
	height: auto;
	width: 100%;
}
#students{
	color:white;
}
#sponsors{
	color:black;
}
#webmaster{
	color:#cccccc;
}
#or{

	color:white;
	font-size: 4em;
	text-align: center;
}
#button_area{
	height: auto;
	background-color: #00274c;
}
#mail{
	font-size: 20px;
	height:60px;
	display:block;
	border:none;
	width:200px;
	margin:0 auto;
	background-color: #e74b80;
	color: white;
	border-radius: 200px 200px 200px 200px;
	font-family: montserrat;
	text-align: center;
	vertical-align: center;
}

#mail:hover{
	-webkit-transition: color .50s, background-color .50s;
	-moz-transition: color .50s, background-color .50s;
	background-color: white;
	color: #e74b80;
}
#map{
	margin:0 auto;
	position:relative;
	width:400px;
	height:350px;
	padding-bottom: 20px;
}
@media (min-width: 1600px){
	#contacts > hr {

	width:80%;
}
}
@media (max-width: 788px) {
	#contact_list{
		width:100%;
	}
	.contact{
		width:100%;
	}
}
@media (max-width: 600px) {
	iframe{
		width:90%;
		margin: 0 auto;
	}
}
