body
{
	background-color:white;

}
hr
{
	border: 0;
	border-bottom: 1px solid;
	border-color: #99CCFF;;
	width:90%;  
}
.title_header{
	width:100%;
	min-height: 200px;
	/*float: left;*/
	margin-bottom: 30px;
	margin-top: 20px;
}	
#title_wrap{

	width:100%;
	margin:0 auto;
	height: 500px;
	background-image: url("../Resources/sponsor_example.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
.highlight{
	color:#ffbb33;
}

.title_header > p{

	font-weight: 100;
	font-size: 2.2em;
	font-family: raleway;
	position: relative;
	left:50;
	top:100;

}
#title{
	position:relative;
	top:420;
	left:10%;
	font-family: "open sans";
	font-size: 1.8em;
}
.btn-button-name, .btn-button-name:link {

	border-radius: 0px;
	background-color: transparent;
	font-weight: 700;
	box-shadow: none;
	color: white;
	border: 2px solid white;
}
 .btn-button-name:hover {

	background-color: white;
	color: black;
	-webkit-transition: color .55s, background-color .55s;
	-moz-transition: color .55s, background-color .55s;
}

.btn-button-name:focus{
	background-color: white;
	color:white;
}
#sponsor_info{

	margin: 0 auto;
	color:#333333;
	width:80%;
	font-size:1.7em;
	font-family: "open sans";
	text-align: left;
}
#diamond{
	background: -webkit-linear-gradient(left,#f2f2f2 ,#a6a6a6 );
	background: -moz-linear-gradient(left,#f2f2f2 ,#a6a6a6 );
}

#diamond > p{
	color:#3399ff;

}

#platnium{
	background: -webkit-linear-gradient(left,#00ffcc,#66ffff);
	background: -moz-linear-gradient(left,#00ffcc,#66ffff);

}

#platnium > p{
	color:white;

}

#gold{
	background: -webkit-linear-gradient(left,#ffcc00,#ff9933);
	background: -moz-linear-gradient(left,#ffcc00,#ff9933);
}

#gold > p{
	color:white;
}

#silver{
	background: -webkit-linear-gradient(left,#f2f2f2 ,#a6a6a6 );
	background: -moz-linear-gradient(left,#f2f2f2 ,#a6a6a6 );
}

#bronze{
	background: -webkit-linear-gradient(left,#996600 ,#ffaa00 );
	background: -moz-linear-gradient(left,#f2f2f2 ,#a6a6a6 );	
}
.diamond_sponsor{
	display:block;
	margin:0 auto;

}
.sponsor_body{
	padding-top: 10px;
	padding-bottom: 20px;
	min-height:200px;
	background-color: white;
}
.sponsor_description_1{
	margin-right: 30px;
	color:#333333;
	font-size: 1.4em;
	font-family: "Open sans";
	font-weight: 200;
	text-align: left;
	width: 80%;
	margin:0 auto;

}
.sponsor_description_2{
	width: 90%;
	color:#333333;
	font-size: 1.4em;
	font-family: "Open sans";
	text-align: left;

}
.gold_company{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}
.silver_company{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 150px;	
}
.bronze_company{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	width: 180px;	
}
.replacement_logo{
	margin-left: auto;
	margin-right: auto;
	height:150px;
	width:150px;
	border:solid #0099ff;

}
.replacement_logo_gold{
	margin-left: auto;
	margin-right: auto;
	height:200px;
	width:200px;
	border:solid #0099ff;
}
.replacement_bronze{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.replacement_logo h4{
	position: relative;
	top:20%;
	vertical-align: center;
	text-align: center;
	color:#0099ff;
}
.replacement_logo a{
	width:100%;
	height:100%;
	margin-top:30px;
	top:20%;
	color:#0099ff;
}
.replacement_logo_gold > h4{
	position: relative;
	top:30%;
	vertical-align: center;
	text-align: center;
	color:#0099ff;
}
@media (max-width: 1000px) {
	.title_header > p{
		font-size: 1.5em;
	}

}
@media (max-width: 1000px) {

}
@media (max-width: 788px) {
	img{
		display:block;
		margin:0 auto;
	}
	#title_wrap{
		height:300px;
	}
	#title{
		top:240px;
		font-size: 1.2em;
	}

}
@media(min-width: 1500px){
	#title_wrap{
		width:1300px;
	}
}
