/* navbar */
.top{
    position: fixed;
    top:0;
    width:100%;
    z-index: 999;
}
.masthead{
    position: relative;
    height:3px;
    background-color: #ffcc00;
    top:-20;
    width:100%;
    z-index: 999;
    padding-bottom: 0;
}
.affix{

  top: 0;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all .5s ease-in-out;
}
.affix-top{
    top:0;
}

.navbar-default {
    font-style: "open sans";
    text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    /*background-color: #333333;*/
	background-color: #005c99;
    min-height: 80px;
    border-style: none;
    font-weight: 200;
    color: #FFFF85;
}

#logo{
    vertical-align: center;
    width:250px;
    min-height:80%;
    margin-top: -3%;
}
/* title */
.navbar-default .navbar-brand {
    min-height: 80px;
    color: #FFFF85;
    background-color: #005c99;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFF85;
}
/* link */

.navbar-nav{

    display: inline-block;
    float: none;
    text-align: center;
    margin:0 auto;
    margin-left: 60px;
}
.navbar-default .navbar-nav > li > a {

    max-height: 80px;
    padding-left:35px;
    padding-right:35px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 50px;
    color: #ffd11a;
    font-weight: 600;
    font-family: raleway;
    min-width:10px;
    font-size: 130%;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #FFDB4D;
    color:#0099FF;
}
/*******************************************************************\
 *	#Social media icons
\*******************************************************************/
.social {
	/* I'm not sure why the other menu items have a height of 80px,
 	 * and this one defaults to 60px. This is just hard-coded in */
	height: 80px;
	margin: 0px 30px;
}
.social>li {
	/* This makes the links horizontal */
	float: left;
}
.social>li>a {
	/* I had trouble getting the icons to center vertically, so I
     * do this hacky thing where I increase the top margin of each one.
     * I tried the techniques at the site below, and none of them worked.
     * May be worth revisiting this some day.
     * https://www.w3.org/Style/Examples/007/center.en.html
     */
	max-height: 80px;
    min-width:10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	margin-top: 7px;
	line-height: 50px;
}
.social li>a:hover,
.social li>a:focus {
	-webkit-transition: -webkit-filter .75s;
    -moz-transition: -webkit-filter .75s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.dropdown-menu {
    background-color: #FFDB4D;
}

.dropdown-menu  li  a{
    color:#0099ff;
    background-color: #FFDB4D;
}

ul.links{
    padding-top: 25px;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

ul.links > li{
    display:block;
}

.navbar-header{
    max-height: 100%;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	-webkit-transition: color .55s, background-color .55s;
    -moz-transition: color .55s, background-color .55s;
    color: #3366FF;
    background-color: #FFDB4D;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	-webkit-transition: color .55s, background-color .55s;
    -moz-transition: color .55s, background-color .55s;
    color: #3366FF;
    background-color: #FFDB4D;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {

}
/* caret */
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color: white;
    color: #0099FF;
}
.navbar-default .navbar-nav> .open > a
{
    background-color: #FFDB4D;
    color: #0099FF;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 788px) {

    .navbar-collapse.collapse {
        display: none !important;
    }  

}

@media (max-width: 500px) {
 
    #logo{
        width:150px;
        height:30px;
    }
}

@media (max-width: 1100px) {

    #footer > a {
    margin: 0 auto;
    }
    .header_links{
        
    }
}
@media (max-width: 1050px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-default .navbar-nav > li > a {

        max-height: 80px;
        padding-left:70px;
        padding-right:70px;
        margin: 0 auto;
        vertical-align: middle;
        line-height: 50px;
        color: #0099ff;
        font-weight: 600;
        font-family: raleway;
        min-width:10px;
        font-size: 130%;

    }
    .icon_links{
        margin-top: -15px;
        float:right;

    }
}

@media (max-width: 1135px) {
	.social {
		display: none;
	}
}

/* footer stuff */
#footer{
    width:100%;
    min-height:200px;
    background-color:#333333;
    overflow: auto;
}
hr.footer_hr{
    background-color: white;
}
.icon{
    width:40px;
    height:40px;

}
.icon_links{
    margin-top: 15px;
    float:right;

}

.heads{
    font-family: Open sans;
    font-style: bold;
    color:#0099ff;
    font-size: 1.1em;
}
.bottom_link{
    color:white;
    display: block;
}
.bottom_link:hover {
	text-decoration: none;
	color: #ffdb4d;
	-webkit-transition: color 0.5s;
}
.center_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.top-buffer { margin-top:-20px; }
